version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: vue_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data

    app:
      build: .
      container_name: vue_app
      restart: always
      ports:
        - "8080:8080"
      depends_on:
        - postgres

volumes:
  postgres_data:
